* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    min-width: 300px;
    }

.app-wrapper {
    width: 100%;
    height: 100vh;
}

/* Media queries default */
.main-nav .nav-wrapper-xs {
    display: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.flex-container {
    height: 100%;
    display: flex;
}

.bar {
    height: 4px;
    background-color: #595959;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.bar > .progressive-bar {
    height: 100%;
    background-color: #efefef;
    border-radius: 4px;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
}

.progressive-bar::after {
    content:'';
    height: 12px;
    width: 12px;
    background-color: #e0dcdc;
    border-radius: 50%;
    display: none;
    position:absolute;
    right:0;
    top:0;
    transform: translate(50%, -35%);    
}
.bar:hover .progressive-bar::after{
    display: inline-block;
}
.bar:hover .progressive-bar {
    background-color: #adff2f;
}

/* Song Box */
.song-box {
    width: calc( 100% / 6);
    text-align: center;
    padding-right:15px;
    padding-bottom: 30px;
}
.song-box a {
    color:white;
    text-decoration: none;
}

.song-box .record-container{
    margin-bottom: 14px;
    position: relative;
    height: auto;
    cursor: pointer;
}
.song-box .record-container img {
    width: 100%;
    height: 100%;
    display: block;
}
.record-container .record-layover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.record-container:hover .record-layover {
    display: flex
}
.record-container .record-layover a {
    color:white;
    text-decoration: none;
    font-size: 50px;
}

/* END COMMON */

/* MAIN */
main {
    height: calc( 100% - 80px);

}

/* MAIN NAV*/
.main-nav {
    float: left;
    height: 100%;
    width: 240px;
    overflow: hidden;
    background-color: black;
}

/* Logo */
.nav-wrapper-lg {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-nav .logo {
    padding: 20px 20px 15px 20px;
}
.main-nav .logo img {
    height: 40px;
    width: auto;
}

/* Nav Icon List */
.main-nav .nav-icon-list {
    list-style-type: none;
    font-size: 12px;
}

.main-nav .nav-icon-list li {
    padding: 5px 0 5px 20px;
    border-left: 3px solid transparent;
}
.main-nav .nav-icon-list li:first-child {
    border-left: 3px solid #adff2f;
}

.main-nav .nav-icon-list li a {
    text-decoration: none;
    color: #717171;
}
.main-nav .nav-icon-list li:first-child a {
    color: white;
}
.main-nav .nav-icon-list li a:hover {
    color:white;
}
.main-nav .nav-icon-list li a:hover img {
    opacity: 1;
}

.main-nav .nav-icon-list li a span {
    padding-left: 10px;
}

.main-nav .nav-icon-list img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    opacity: 0.7;
}

/* Playlist */
.playlist-container {
    padding-top: 15px;
    padding-left: 23px;
    flex-grow: 1;
    overflow-y: hidden;
}

.playlist-container a {
    text-decoration: none;
    color: #717171;
}

.playlist-container h3 {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

/* Create Playlist */
.playlist-container .create-playlist {
    display: block;
    margin-top: 10px;
}

.playlist-container .create-playlist span {
    padding-left: 10px;
    font-size: 14px;
}
.playlist-container .create-playlist:hover {
    color:white;
}
.playlist-container .create-playlist:hover i {
    background-color: #fff;
}

.playlist-container .create-playlist i {
    display: inline-block;
    height: 35px;
    width: 35px;
    color: black;
    background-color: #a3a3a3;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

/* Playlists */
.playlist-container {
    min-height: 200px;
}
.playlist-container .playlists {
    list-style-type: none;
    font-size: 12px;
    height: calc( 100% - 63px);
    overflow-y: auto;
}

.playlist-container .playlists li {
    padding-top: 15px;
}

.playlist-container .playlists li a:hover {
    color: white;
}

/* Profile */
.profile-container {
    padding: 0 23px;
}

.profile-container a {
    text-decoration: none;
    color: #717171;
}

.profile-container .install img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    opacity: 0.7;
}

.profile-container .install {
    padding: 5px 0;
    border-bottom: 1px solid #717171;
}

.profile-container .install a:hover {
    color:white;
}
.profile-container .install a:hover img {
    opacity:1;
}

.profile-container .install span {
    padding-left: 10px;
    font-size: 12px;
}

.profile-container .profile {
    padding-top: 10px;
    padding-bottom: 5px;
}
.profile-container .profile .profile-img {
    height: 25px;
    width: 25px;
    background-color: #808080;
    display: inline-block;
    border-radius:50%;
    overflow: hidden;
    vertical-align: middle;
}

.profile-container .profile .profile-img img {
    width: 100%;
    height: 100%;
}

.profile-container .profile span {
    padding-left: 10px;
    font-size: 14px;
    color: white;
}



/* MAIN CONTENT  */
.main-content {
    float: left;
    height: 100%;
    width: calc( 100% - 240px );
    overflow-y: auto;
    padding: 100px 20px 30px 20px;
    background-color: #141922;
    color: white;
}

.main-content h2 {
    font-size: 22px;
}

.main-content h4 {
    font-size: 14px;
}

.main-content h5 {
    font-size: 12px;
    color: #717171;
    margin-top:5px;
}

/* Discover Nav */
.discover-menu {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.discover-menu li {
    margin: 0 10px 20px 10px;
    line-height: 30px;
}

.discover-menu li a {
    font-size: 14px;
    color:#75777c;
    text-decoration: none;
    text-transform: uppercase;
}
.discover-menu li a:hover {
    color:white;
}

.discover-menu li:first-child::after {
    content: '';
    width: 40px;
    display: block;
    margin: auto;
    height: 3px;
    background-color: #adff2f;

}

/* Recently Played */
.recently-played {
    padding: 30px 0 10px;
}
.recently-played > .flex-container {
    padding-top: 30px;
    flex-wrap: wrap;
}

/* Created For */
.created-for {
    padding-bottom: 10px;
}
.created-for h5 {
    margin-top: 10px;
}
.created-for > .flex-container {
    padding-top: 30px;
    flex-wrap: wrap;
}

/* Popular Artists */
.popular-artists {
    padding-bottom: 10px;
}
.popular-artists h5 {
    margin-top: 10px;
}

.popular-artists > .flex-container {
    padding-top: 30px;
    flex-wrap: wrap;
}

.popular-artists .song-box .record-container img {
    border-radius: 50%;
}




/* FINE MAIN */


/* FOOTER */
footer {
    height: 80px;
    overflow: hidden;
    background-color: #282828;
}

.footer-wrapper{
    display:flex;
    height: 100%;
    justify-content: space-between;
}


/* Now Playing */
.now-playing {
    height: 100%;
    padding: 0 10px;
    width: 240px; 
}

.now-playing > .flex-container {
    justify-content: space-between;
    align-items: center;
}

.now-playing .brano {
    display: flex;
    align-items: center;
}
.now-playing .brano .brano-img {
    height: 45px;
    width: 45px;
    display: inline-block;
}

.brano .brano-img img {
    width: 100%;
    height: auto;
}

.brano .brano-title {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    color: white;
}
.brano .brano-title a {
    font-size: 10px;
    display: block;
    color: #717171;
    text-decoration: none;
}

.brano .brano-title a:hover {
    text-decoration: underline;
    color:white;
}

.now-playing .brano-icons a  {
    color: #717171;
    margin-left: 10px;
    font-size: 16px;
}
.now-playing .brano-icons a:hover {
    color:white;
}


/* Player */
.player {
    height: 100%;
    padding: 15px 10px 5px;
    width: 40%;
}

.player-buttons {
    max-width: 250px;
    margin: auto;
    height: 50%;
    color: white;
}

.player-buttons > .flex-container {
  justify-content: space-around;
  align-items: center;
}

.player-buttons a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.player-buttons a.play {
    font-size: 30px;
}
.player-buttons a.play:hover {
    transform: scale(1.1);
}

.player-bar {
    width: 100%;
    height: 50%;
    color: white;
    font-size: 10px;
    font-weight: 600;
}
.player-bar > .flex-container {
    align-items: center;
    justify-content: space-between;
}

.player-bar .bar {
    width: 78%;
    margin: 10px 20px;
}

.player-bar .bar > .progressive-bar {
    width: 25%;   
}



/* Settings */
.settings {
    height: 100%;
    padding-right: 10px;
    width: 240px;
}

.settings > .flex-container {
    align-items: center;
    justify-content: flex-end;
}

.settings a {
    color: #efefef;
    margin-right: 15px;
    font-size: 16px;
}
.settings a:hover {
    color:white;
}

.settings .bar {
    width: 50%;
    margin: 5px;
}
.settings .bar > .progressive-bar {
    width: 25%;
}

/* FINE FOOTER */

/* FIXED ELEMENT */
.fixed-element {
    position: fixed;
    top: 0;
    right: 0;
    height: 79px;
    width: calc( 100% - 240px);
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: right;
    padding: 20px 20px 20px 0;
}

.fixed-element .button {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
}

.fixed-element .button:hover {
    transform: scale(1.1);
}

/* FINE FIXED ELEMENT */


/* MEDIA QUERIES */

/* TABLET */
@media all and (max-width: 991px) {
    /* Common */
    .song-box {
        width: calc( 100% / 4);
    }

    /* Footer */
    .player-buttons a.play {
        font-size: 24px;
    }
    .player-buttons a {
        font-size: 12px;
    }

    .player-bar .bar {
        margin: 10px 12px;
    }

    .settings a {
        font-size:12px;
        margin: 5px;
    }
}

/* SMARTPHONE */
@media all and (max-width: 767px) {

    /* Common */
    .song-box {
        width: calc( 100% / 2);
    }
    
    /* Main Nav */
    .main-nav {
        width: 70px;
    }

    .main-nav .nav-wrapper-lg {
        display: none;
    }

    .main-nav .nav-wrapper-xs {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }

    .main-nav .nav-wrapper-xs > * {
        width: 30px;
    }

    .main-nav .nav-wrapper-xs img {
        width: 100%;        
    }

    .nav-icon-list-xs {
        flex-grow: 1;
    }

    .nav-icon-list-xs li {
        padding-top: 10px;
    }

    .nav-icon-list-xs li img {
        opacity: 0.7;
    }
    .nav-icon-list-xs li a:hover img {
        opacity: 1;
    }

    .profile-container-xs .install{
        width: 18px;
        margin: auto;
        padding-bottom: 10px;
    }
    .profile-container-xs .install img {
        opacity: 0.7;
    }
    .profile-container-xs .install a:hover img {
        opacity: 1;
    }

    .profile-container-xs .profile-img {
        width: 25px;
        height: 25px;
        margin: auto;
        overflow: hidden;
        background-color: #808080;
        border-radius: 50%;
    }
    /* Main Content */
    .main-content {
        width: calc( 100% - 70px );
    }

    /* Footer */
    .now-playing {
        padding-right:0;
    }
    .now-playing .brano-icons a {
        margin-left:0;
    }

    .player {
        width: 60%;
    }    

    /* Element Fixed */
    .fixed-element {
        width: calc( 100% - 70px );
    }

}





