* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    }

.app-wrapper {
    width: 100%;
    height: 100vh;
}

/* Media queries default */
nav .nav-wrapper-xs {
    display: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* END COMMON */

/* MAIN */
main {
    height: calc( 100% - 80px);

}

/* MAIN NAV*/
nav {
    float: left;
    height: 100%;
    width: 240px;
    overflow: hidden;
     background-color: black;
}

/* Logo */
.nav-wrapper-lg {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav .logo {
    padding: 20px 20px 15px 20px;
}
nav .logo img {
    height: 40px;
    width: auto;
}

/* Nav Icon List */
nav .nav-icon-list {
    list-style-type: none;
    font-size: 12px;
}

nav .nav-icon-list li {
    padding: 5px 0 5px 20px;
    border-left: 3px solid transparent;
}
nav .nav-icon-list li:first-child {
    border-left: 3px solid #adff2f;
}

nav .nav-icon-list li a {
    text-decoration: none;
    color: #717171;
}
nav .nav-icon-list li:first-child a {
    color: white;
}
nav .nav-icon-list li a:hover {
    color:white;
}
nav .nav-icon-list li a:hover img {
    opacity: 1;
}

nav .nav-icon-list li a span {
    padding-left: 10px;
}

nav .nav-icon-list img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    opacity: 0.7;
}

/* Playlist */
.playlist-container {
    padding-top: 15px;
    padding-left: 23px;
    flex-grow: 1;
    overflow-y: hidden;
}

.playlist-container a {
    text-decoration: none;
    color: #717171;
}

.playlist-container h3 {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

/* Create Playlist */
.playlist-container .create-playlist {
    display: block;
    margin-top: 10px;
}

.playlist-container .create-playlist span {
    padding-left: 10px;
    font-size: 14px;
}
.playlist-container .create-playlist:hover {
    color:white;
}
.playlist-container .create-playlist:hover i {
    background-color: #fff;
}

.playlist-container .create-playlist i {
    display: inline-block;
    height: 35px;
    width: 35px;
    color: black;
    background-color: #a3a3a3;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

/* Playlists */
.playlist-container {
    min-height: 200px;
}
.playlist-container .playlists {
    list-style-type: none;
    font-size: 12px;
    height: 100%;
    overflow-y: auto;
}

.playlist-container .playlists li {
    padding-top: 15px;
}

.playlist-container .playlists li a:hover {
    color: white;
}

/* Profile */
.profile-container {
    padding: 0 23px;
}

.profile-container a {
    text-decoration: none;
    color: #717171;
}

.profile-container .install img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    opacity: 0.7;
}

.profile-container .install {
    padding: 5px 0;
    border-bottom: 1px solid #717171;
}

.profile-container .install a:hover {
    color:white;
}
.profile-container .install a:hover img {
    opacity:1;
}

.profile-container .install span {
    padding-left: 10px;
    font-size: 12px;
}

.profile-container .profile {
    padding-top: 10px;
    padding-bottom: 5px;
}
.profile-container .profile .profile-img {
    height: 25px;
    width: 25px;
    background-color: #808080;
    display: inline-block;
    border-radius:50%;
    overflow: hidden;
    vertical-align: middle;
}

.profile-container .profile .profile-img img {
    width: 100%;
    height: 100%;
}

.profile-container .profile span {
    padding-left: 10px;
    font-size: 14px;
    color: white;
}



/* MAIN CONTENT  */
.main-content {
    float: left;
    height: 100%;
    width: calc( 100% - 240px );
    overflow-y: auto;
    padding-top: 79px;

     /* TEST */
     background-color: blue;
}

/* FINE MAIN */


/* FOOTER */
footer {
    height: 80px;
    overflow: hidden;

    /* TEST */
    background-color: aquamarine;
}

.footer-wrapper{
    display:flex;
    height: 100%;
    justify-content: space-between;
}

.flex-container {
    height: 100%;
    display: flex;
}

/* Now Playing */
.now-playing {
    height: 100%;

    /* TEST */
    background-color: #fff;
    width: 240px;
    flex-shrink:0;
  
}

.now-playing > .flex-container {
    justify-content: space-around;
    align-items: center;
}

.now-playing .brano {
    display: flex;
    align-items: center;
}
.now-playing .brano .brano-img {
    height: 45px;
    width: 45px;
    display: inline-block;
}

.brano .brano-img img {
    width: 100%;
    height: auto;
}

.brano .brano-title {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
}
.brano .brano-title span:last-child {
    font-size: 10px;
    display: block;
}


/* Player */
.player {
    height: 100%;

    /* TEST */
    background-color: #fff;
    width: 400px;
    border: 1px solid red;
}


/* Settings */
.settings {
    height: 100%;

    /* TEST */
    background-color: #fff;
    width: 240px;
    flex-shrink:0;
}


/* FINE FOOTER */

/* FIXED ELEMENT */
.fixed-element {
    position: fixed;
    top: 0;
    right: 0;
    height: 79px;
    width: calc( 100% - 240px);
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: right;
    padding: 20px 20px 20px 0;
}

.fixed-element .button {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
}

.fixed-element .button:hover {
    transform: scale(1.1);
}

/* FINE FIXED ELEMENT */


/* MEDIA QUERIES */

/* SMARTPHONE */
@media all and (max-width: 468px) {
    
    /* Main Nav */
    nav {
        width: 70px;
    }

    nav .nav-wrapper-lg {
        display: none;
    }

    nav .nav-wrapper-xs {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        
    }

    nav .nav-wrapper-xs > * {
        width: 30px;
    }

    nav .nav-wrapper-xs img {
        width: 100%;        
    }

    .nav-icon-list-xs {
        flex-grow: 1;
    }

    .nav-icon-list-xs li {
        padding-top: 10px;
    }

    .nav-icon-list-xs li img {
        opacity: 0.7;
    }
    .nav-icon-list-xs li a:hover img {
        opacity: 1;
    }

    .profile-container-xs .install{
        width: 18px;
        margin: auto;
        padding-bottom: 10px;
    }
    .profile-container-xs .install img {
        opacity: 0.7;
    }
    .profile-container-xs .install a:hover img {
        opacity: 1;
    }

    .profile-container-xs .profile-img {
        width: 25px;
        height: 25px;
        margin: auto;
        overflow: hidden;
        background-color: #808080;
        border-radius: 50%;
    }
    /* Main Content */
    .main-content {
        width: calc( 100% - 70px );
    }

    /* Element Fixed */
    .fixed-element {
        width: calc( 100% - 70px );
    }

}



